<p>task3 works!</p>

<!-- Создайте пример, в котором используете все существующие встроенные в Angular пайпы. -->

<!-- Pipes Provided by Angular

    CurrencyPipe
    DatePipe
    DecimalPipe
    JsonPipe
    LowerCasePipe
    UpperCasePipe
    PercentPipe
    SlicePipe
-->

<p>CurrencyPipe: {{ currencyPipe | currency: "EUR"}}</p>
<p>DatePipe: {{ datePipe | date: 'fullDate'}}</p>
<p>DecimalPipe: {{ decimalPipe | number: '2.1-3'}}</p>
<p>JsonPipe: {{ jsonPipe | json}}</p>
<p>LowerCasePipe: {{ lowerCasePipe | lowercase}}</p>
<p>UpperCasePipe: {{ upperCasePipe | uppercase}}</p>
<p>PercentPipe: {{ percentPipe | percent}}</p>
<p>SlicePipe: {{ slicePipe | slice: 1:4}}</p>



